#ifndef ${ConfigSt.ModuleName.upper()}_${ConfigSt.CalType.upper()}CAL_${CalIndex}_H_
#define ${ConfigSt.ModuleName.upper()}_${ConfigSt.CalType.upper()}CAL_${CalIndex}_H_

#include "${ConfigSt.ModuleName}_${ConfigSt.CalType}CalStruct.h"

<%
CallistMax = len(CalDatalist)
%>\
<%
if CalInfoSt.GenType == "GM"  :
    TempCalIndex = "01"
else :
    TempCalIndex = CalIndex
%>\
#pragma section farrom="CalPrm${ConfigSt.ModuleName}${ConfigSt.CalType}${TempCalIndex}"
${ConfigSt.ModuleName.upper()}${ConfigSt.CalType.upper()}_CONST_${TempCalIndex} \
${ConfigSt.ModuleName.upper()}${ConfigSt.CalType.upper()}_CAL_t CalPrm${ConfigSt.ModuleName}${ConfigSt.CalType}${TempCalIndex} = {
% for CalDataSt in CalDatalist:
<%
if int(CalDataSt.CaldataIdx) == int(CallistMax) :
    Comma = ""
else :
    Comma = ","

SymbolSpace = ""
SymbolSpaceNum = LenMaxSt.SymbolName - CalDataSt.SymbolNameLen
for SymbolIdx in range(SymbolSpaceNum) :
    SymbolSpace = SymbolSpace + " "

DatatypeSpace = ""
DatatypeSpaceNum = LenMaxSt.Datatype - CalDataSt.DatatypeLen
for DatatypeIdx in range(DatatypeSpaceNum) :
    DatatypeSpace = DatatypeSpace + " "

CalDataSpace = ""
CalDataSpaceNum = LenMaxSt.CalData - CalDataSt.CalDataLen
for CalDataIdx in range(CalDataSpaceNum) :
    CalDataSpace = CalDataSpace + " "

CommentSpace = ""
CommentSpaceNum = LenMaxSt.Comment - CalDataSt.CommentLen
for CommentIdx in range(CommentSpaceNum) :
    CommentSpace = CommentSpace + " "

if CalDataSt.Datatype == "uint8_t" :
    GenDataType = "UBYTE"
elif CalDataSt.Datatype == "uint16_t" :
    GenDataType = "UWORD"
elif CalDataSt.Datatype == "uint32_t" :
    GenDataType = "ULONG"
elif CalDataSt.Datatype == "int8_t" :
    GenDataType = "SBYTE"
elif CalDataSt.Datatype == "int16_t" :
    GenDataType = "SWORD"
elif CalDataSt.Datatype == "int32_t" :
    GenDataType = "SLONG"
elif CalDataSt.Datatype == "uint8" :
    GenDataType = "UBYTE"
elif CalDataSt.Datatype == "uint16" :
    GenDataType = "UWORD"
elif CalDataSt.Datatype == "uint32" :
    GenDataType = "ULONG"
elif CalDataSt.Datatype == "int8" :
    GenDataType = "SBYTE"
elif CalDataSt.Datatype == "int16" :
    GenDataType = "SWORD"
elif CalDataSt.Datatype == "int32" :
    GenDataType = "SLONG"
elif CalDataSt.Datatype == "sint8" :
    GenDataType = "SBYTE"
elif CalDataSt.Datatype == "sint16" :
    GenDataType = "SWORD"
elif CalDataSt.Datatype == "sint32" :
    GenDataType = "SLONG"
else :
    GenDataType = "ERROR"
endif
%>\
    ${CalDataSt.CalData}${Comma} /*${GenDataType} ${CalDataSt.SymbolName} "${CalDataSt.Comment}"*/
% endfor
};
#pragma section farrom default

#endif /* ${ConfigSt.ModuleName.upper()}_${ConfigSt.CalType.upper()}CAL_${CalIndex}_H_ */